{% extends "base.html" %}

{% block app_content %}
<h2>Mid-Major Madness Stock Exchange Analytics</h2>

<h3>Recent Transactions</h3>
<table text-align="left", width="70%">
	<tr>
	  <th>Timestamp</th>
	  <th>Team</th>
	  <th>Shares</th>
	  <th>Price</th>
	  <th>Type</th>
	</tr>
{% for transaction in latest_transactions %}
	<tr>
		<td width="20%">{{ moment(transaction.timestamp).format('LLL') }}</td>
		<td width="20%">{{ transaction.team }}</td>
		<td width="10%">{{ transaction.shares }}</td>
		<td width="10%">{{ '${:.2f}'.format(transaction.price) }}</td>
		<td width="10%">{{ transaction.buy_or_sell }}</td>
	</tr>
{% endfor %}
</table>
<br>
<h3>Most Held Stocks (By Volume)</h3>
<table text-align="left", width="50%">
	<tr>
	  <th>Team</th>
	  <th>Shares</th>
	</tr>
{% for vols in volume_stocks %}
	<tr>
		<td width="25%">{{ vols.stock }}</td>
		<td width="25%">{{ vols.total }}</td>
	</tr>
{% endfor %}
</table>
<br>
<h3>Most Held Stocks (By Total Purchase Price)</h3>
<table text-align="left", width="50%">
	<tr>
	  <th>Team</th>
	  <th>Value</th>
	</tr>
{% for vals in value_stocks %}
	<tr>
		<td width="25%">{{ vals.stock }}</td>
		<td width="25%">{{ '${:,.2f}'.format(vals.total) }}</td>
	</tr>
{% endfor %}
</table>
<br>
<br>
{% endblock %}