{% extends "base.html" %}

{% block app_content %}
<h2>Mid-Major Madness Stock Exchange Analytics</h2>

<h3>Recent Transactions</h3>
<table text-align="left", width="90%">
	<tr>
	  <th>Timestamp</th>
	  <th>Username</th>
	  <th>Team</th>
	  <th>Shares</th>
	  <th>Price</th>
	  <th>Type</th>
	</tr>
{% for lt in latest_transactions %}
	<tr>
		<td width="20%">{{ moment(lt.timestamp).format('LLL') }}</td>
		<td width="20%"><a href="{{ url_for('user', username=lt.moves.username) }}">{{ lt.moves.username }}</a></td>
		<td width="20%">{{ lt.team }}</td>
		<td width="10%">{{ lt.shares }}</td>
		<td width="10%">{{ '${:.2f}'.format(lt.price) }}</td>
		<td width="10%">{{ lt.buy_or_sell }}</td>
	</tr>
{% endfor %}
</table>
<br>
<h3>Most Held Stocks (By Volume)</h3>
<table text-align="left", width="50%">
	<tr>
	  <th>Team</th>
	  <th>Shares</th>
	</tr>
{% for vols in volume_stocks %}
	<tr>
		<td width="25%"><a href="{{ url_for('team', teamname=vols.stock) }}">{{ vols.stock }}</a></td>
		<td width="25%">{{ '{:,d}'.format(vols.total) }}</td>
	</tr>
{% endfor %}
</table>
<br>
<h3>Most Held Stocks (By Total Purchase Price)</h3>
<table text-align="left", width="50%">
	<tr>
	  <th>Team</th>
	  <th>Value</th>
	</tr>
{% for vals in value_stocks %}
	<tr>
		<td width="25%"><a href="{{ url_for('team', teamname=vals.stock) }}">{{ vals.stock }}</a></td>
		<td width="25%">{{ '${:,.2f}'.format(vals.total) }}</td>
	</tr>
{% endfor %}
</table>
<br>
<br>
<strong>Stock Price History CSV:</strong> <a href="static/stock_price_history.csv">Download</a>
<br>
<br>
<br>
{% endblock %}