{% extends "base.html" %}

{% block app_content %}

<h1>The Mid-Major Madness Stock Exchange</h1>
<img src='https://cdn.vox-cdn.com/uploads/blog/sbnu_logo/231/large_Mid-Major_Madness_Full.25401.png') alt="The Mid-Major Madness Logo" height="278" width="347" align="right">

<h3>About</h3>

<p>Welcome to The Mid-Major Madness Stock Exchange.</p>

<h3>Basics</h3>

<p><strong>Teams:</strong> All teams outside of the six power conferences.</p>
<p><strong>Starting Cash:</strong> $500</p>
<p><strong>Who Made This?:</strong> The idea was originally conceived by <a href="https://www.twitter.com/ChrisSchutte3">Chris Schutte</a> of <a href="https://www.midmajormadness.com/">Mid-Major Madness</a>. The app was built by <a href="https://twitter.com/nybuckets">John Templon.</a></p>
<p><strong>How Do Prices Work?:</strong> Prices are directly related to a team's adjusted efficiency margin on KenPom. (The <i>pseudo formula</i> is: KenPom AdjEM + abs(min(KenPom AdjEM)) + 0.10.)</p>



{% endblock%}
