{% extends "base.html" %}

{% block app_content %}
      <h1>Hello, {{ current_user.username }}!</h1>
	  <p>Your portfolio is currently worth ${{ '%0.2f'|format(current_user.portfolio_value())}}.</p>
	  <table text-align="left", width="100%">
      <tr>
		  <th>Team</th>
		  <th>Shares</th>
		  <th>Purchase Price</th>
		  <th>Current Price</th>
		  <th>Current Value</th>
		  <th>Change</th>
	  </tr>
      {% for holding in holdings %}
      <tr>
		  <td width="20%">{{ holding.stock }}</td>
		  <td width="10%">{{ holding.shares }}</td>
		  <td width="20%">{{ '$%.2f'|format(holding.purchase_price) }}</td>
		  <td width="20%">{{ '$%.2f'|format(holding.asset.price) }}</td>
		  <td width="20%">{{ '$%.2f'|format(holding.value()) }}</td>
		  <td width="10%">{{ holding.value_change_str() }}</td>
	  </tr>
      {% endfor %}
      </table>
{% endblock%}
