{% extends "base.html" %}

{% block app_content %}
	<table>
		<tr valign="top">
			<td width="138px"><img src="{{ user.avatar(128) }}"></td>
			<td>
				<h1>User: {{ user.username }}</h1>
				{% if user.last_seen %}
					<p>
						<strong>Last seen on:</strong> {{ moment(user.last_seen).format('LLL') }}
					</p>
				{% endif %}
				<p>
					<strong>Portfolio Value:</strong> {{ '${:,.2f}'.format(user.portfolio_value)}}<br>
					<strong>Available Cash:</strong> {{ '${:,.2f}'.format(user.cash)}}
			</td>
		</tr>
	</table>
	<hr>
	<h2>Current Holdings:</h2>
	<table text-align="left", width="100%">
		<tr>
		  <th>Team</th>
		  <th>Shares</th>
		  <th>Purchase Price</th>
		  <th>Current Price</th>
		  <th>Current Value</th>
		  <th>Change</th>
		</tr>
	{% for holding in holdings %}
		<tr>
			<td width="20%"><a href="{{ url_for('team', teamname=holding.stock) }}">{{ holding.stock }}</a></td>
			<td width="10%">{{ holding.shares }}</td>
			<td width="20%">{{ '${:.2f}'.format(holding.purchase_price) }}</td>
			<td width="20%">{{ '${:.2f}'.format(holding.asset.price) }}</td>
			<td width="20%">{{ '${:,.2f}'.format(holding.value) }}</td>
			<td width="10%">{{ holding.value_change_str() }}</td>
		</tr>
	{% endfor %}
	</table>
	<br>
	<br>
	<h2>Recent Transactions:</h2>
	<table text-align="left", width="70%">
		<tr>
		  <th>Timestamp</th>
		  <th>Team</th>
		  <th>Shares</th>
		  <th>Price</th>
		  <th>Type</th>
		</tr>
	{% for transaction in transactions %}
		<tr>
			<td width="20%">{{ moment(transaction.timestamp).format('LLL') }}</td>
			<td width="20%">{{ transaction.team }}</td>
			<td width="10%">{{ transaction.shares }}</td>
			<td width="10%">{{ '${:.2f}'.format(transaction.price) }}</td>
			<td width="10%">{{ transaction.buy_or_sell }}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}